<head>
	<title>Brittanie Rockhill</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">


	<link href="/common-css/ionicons.css" rel="stylesheet">


	<link rel="stylesheet" href="/common-css/jquery.classycountdown.css" />

	<link href="/css/04-comming-soon/css/styles.css" rel="stylesheet">

	<link href="/css/04-comming-soon/css/responsive.css" rel="stylesheet">

</head>

<body>

	<div class="main-area">

		<section class="left-section" style="background-image: url(images/bRockHill.jpg)">


		</section><!-- left-section -->


		<section class="right-section full-height">



			<div class="display-table">
				<div class="display-table-cell">
					<div class="main-content">
						<h1 class="title" style=" color: rgba(54, 188, 209);"><b>Under Construction</b></h1>
						<p class="desc">Our website is currently undergoing scheduled maintenance.
							We Should be back shortly. Thank you for your patience.</p>


					</div><!-- main-content -->
				</div><!-- display-table-cell -->
			</div><!-- display-table -->

			<ul class="footer-icons">
				<li>Stay in touch : </li>
				<a href="https://brittanierockhill.elliman.com/">
					<p style=" color: rgba(54, 188, 209);">brittanierockhill.elliman.com</p>
				</a>

			</ul>

		</section><!-- right-section -->

	</div><!-- main-area -->

	<!-- SCIPTS -->

	<script src="/js/common-js/jquery-3.1.1.min.js"></script>

	<script src="/js/common-js/jquery.countdown.min.js"></script>

	<script src="/js/common-js/scripts.js"></script>

</body>

</html>