<div id="cat-list-template">
    <script type="text/x-handlebars-template" id="image-template">
                        <div>
                        {{#each property }}
                        <p>{{this.UnparsedAddress}}</p>
                        <br>
                            <p>>{{Directions}}</p>
                            <br>
                            <img src="{{this.Media.0.MediaURL}}" alt="">
                        {{/each}}
                        </div>
                    </script>

</div>
<script src="/js/listing.js"></script>