<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/videos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<section id='works' class="s-works video-gallery">
    <h1 class="section-header">First Step</h1>
    <div class="section-header-underline"></div>
    <div class="">

        <div class="gallery-item" style="    height: 10em;
    background: #000000;">

            <a class="video" href="/listing" style="    color: #3fbad4;
    font: 100 10rem 'Lato', sans-serif;">
                <p style="    display: contents;">BUY</p>
            </a>
        </div>
    </div>

    <div class="gallery-item" style="    height: 10em;
    background: #000000;">

        <a class="video" href="/rentals" style="    color: #3fbad4;
    font: 100 10rem 'Lato', sans-serif;">
            <p style="    display: contents;">RENT</p>
        </a>
    </div>
    </div>
    </div>
</section>
{{!-- MODAL --}}


</div> <!-- end works-content -->