<h1>USERSs</h1>

{{items.userInfo}}
<section class="insert" style="flex-grow: 1;">
    <h3>Insert Data</h3>
    <a href="/users/{{id}}" role="button" class="btn btn-outline light tiny white-hover">Update</a>